
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string categories = "<option value='0'>---请选择-</option>";

    List<Entity.U8TechDocCategory> listCategory = ViewBag.U8TechDocCategory as List<Entity.U8TechDocCategory>;
    if (listCategory != null)
    {
        foreach (Entity.U8TechDocCategory category in listCategory)
        {
            categories += "<option value='" + category.Id + "'" + ">" + category.CategoryName + "</option>";
        }
    }
}

<link href="~/Content/U8lab.css" rel="stylesheet" />
<style>
    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }

    .question-nav {
        margin-top: 20px;
    }
    .fixed-table-toolbar{
        height: 34px;
        text-align: right;
        margin: 10px;
    }
     .fixed-table-toolbar>div{
         margin:0;
     }
     .fixed-table-toolbar .columns-right{
         margin-left:5px;
     }
</style>

<script src="~/Scripts/bootstrap-table.min.js"></script>
<link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-table-zh-CN.min.js"></script>
<div class="mycenter clearfix">
    <img src="@Url.Content("~/image/blog.png")" alt="知识搜索" />
    <span>知识搜索</span>
    <div class="question-nav">
        <div style="display:inline-block;">
            <a class="btn btn-default" href="#" role="button" id="allDocs">所有知识</a>
            <a class="btn btn-default" href="#" role="button" id="uploadDocs">上传知识</a>
        </div>
    </div>

    <div style="margin-top:20px;width:auto;height:30px;line-height:30px;">
        <ul class="list-inline pull-left">
            <li class="pull-left">
                <label style="color: #0463A6;margin:0;">技术文档分类</label>
            </li>
            <li class="pull-left">
                <select id="category" style="height:30px;"></select>
            </li>
        </ul>
        <ul class="list-inline pull-right">
            <li>
                <a class="" href="#" role="button" id="hottestDoc">最热门文档</a>
            </li>
            <li>
                <span>&nbsp;|&nbsp;</span>
            </li>
            <li>
                <a class="" href="#" role="button" id="latestDoc">最新文档</a>
            </li>
        </ul>
    </div>

    <table class="sldatatablefix Result_table" id="table-javascript" data-height=""></table>
    <div style="display:none">
        <table class="sldatatable">
            <!--最终加载的数据都存在这个table里-->
            <tr class="sldatatableheader" style="height: 0px;"></tr>
        </table>
    </div>
    @Html.Partial("~/Views/Common/RenderPaging.cshtml")
</div>
<script type="text/javascript">
    $(function () {
        $('#uploadDocs').click(uploadDocs);
        $('#allDocs').click(allDocs);
        $("#category").append("@Html.Raw(categories)");
        $("#category").change(normalSearch);
        $("#latestDoc").click(normalSearch);
        $("#hottestDoc").click(specialSearch);
        normalSearch();
    })

    function normalSearch()
    {
        search(0);
    }

    function specialSearch()
    {
        search(1);
    }

    function uploadDocs() {
        location.href = "/U8Learn/UploadDocsIndex";
    }

    function allDocs() {
        $("#category option[value='0']").attr("selected", true);
        normalSearch();
    }

    function search(docSort) {
        var data = "";

        //增加分页
        var currentPage = $("#txtCurrentPage").val();
        var pageSize = $("#txtPageSize").val();
        var category = $("#category").val();

        data = data + "currentPage=" + encodeURI(currentPage);
        data = data + "&pageSize=" + encodeURI(pageSize);
        data = data + "&category=" + encodeURI(category);
        data = data + "&docSort=" + encodeURI(docSort);

        //查询
        $.ajax({
            async: true,
            type: "POST",
            url: "/U8Learn/SearchLearnList",
            cache: false,
            timeout: 60 * 60 * 1000,
            dataType: "json",
            data: data,
            success: function (result) {
                $(".sldatatablefix tbody").empty();//清除上次查询的数据

                $(".sldatatable .sldatatablerow").remove();
                if (result != null && result.Message == "@(U8DevelopComunity.Common.U8StandardMessage.Success)") {

                    $("#txtMaxPage").val(Math.ceil(result.Total / $('#txtPageSize').val()));
                    $("#TotalCount").html(result.Total);
                    var currentPage = parseInt($("#CurrentPage").val());
                    if (currentPage > result.MaxPage) {
                        $("#txtCurrentPage").val(1);
                        search();
                    }

                    //正常返回且查询成功
                    $(function () {
                        $('#table-javascript').bootstrapTable('destroy').bootstrapTable({
                            data: result.Rows,
                            //height: $('.slshowPart').innerHeight() - 34,
                            striped: true,
                            search: true,
                            showColumns: true,
                            minimumCountColumns: 4,
                            columns: [{
                                field: 'XuHao',
                                title: '序号',
                                align: 'center',
                            }, {
                                field: 'Id',
                                title: '文档编号',
                                align: 'center',
                            }, {
                                field: 'TechDocCategory',
                                title: '所属类别',
                                align: 'center',
                            }, {
                                field: 'DocName',
                                title: '名称',
                                align: 'center',
                            }, {
                                field: 'Author',
                                title: '作者',
                                align: 'center',
                            }, {
                                field: 'DownloadCount',
                                title: '下载次数',
                                align: 'center',
                            }, {
                                field: 'ReadCount',
                                title: '阅读次数',
                                align: 'center',
                            }, {
                                field: 'CreateTime',
                                title: '上传时间',
                                align: 'center',
                            }]
                        });
                    });
                }
                else {
                    $('#table-javascript').bootstrapTable('destroy').bootstrapTable({
                        columns: [{
                            field: 'NoData',
                            title: '查无数据',
                            align: 'center',
                        }]
                    });
                }
            }
        });
    }
</script>

