@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/U8lab.css" rel="stylesheet" />
<style>
    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }
</style>
<script src="~/Scripts/bootstrap-table.min.js"></script>
<link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-table-zh-CN.min.js"></script>

<div class="mycenter">
    <img src="@Url.Content("~/image/atv.png")" alt="知识库" />
    <span>知识库</span>
    <div class="question-nav" style="margin-top:10px;">
        <a class="btn btn-default" href="#" role="button">我的问题</a>
        <a class="btn btn-default" href="#" role="button">知识库</a>
        <a class="btn btn-default" href="#" role="button">需我回答的问题</a>
        <a class="btn btn-default" href="#" role="button">所有问题</a>
        <a class="btn btn-default pull-right" href="#" id="askQuestion" role="button" style="background-color:lightblue;margin-left:40px;">+ <span>我要提问</span></a>
    </div>
    <div style="margin-top:20px;">
        <a class="pull-left" href="#" role="button">最新知识</a>
        <span>&nbsp;|&nbsp;</span>
        <a class="" href="#" role="button">最热门知识</a>
    </div>
    <div class="container" style="padding-left:1px;padding-right:1px;">
        <table class="table table-hover table-striped table-responsive"
               data-toggle="table"
               data-click-to-select="true"
               data-row-style="rowStyle"
               data-query-params="queryParams"
               data-pagination="true"
               data-search="true"
               data-search-align="right">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>文档编号</th>
                    <th>名称</th>
                    <th>所属类别</th>
                    <th>人气指数</th>
                    <th>专家姓名</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2090</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
            </tbody>
            </table>
    </div>
    @*<div class="col-md-12 text-center">
        <ul class="pagination" id="myPager"></ul>
    </div>*@
</div>
<script type="text/javascript">
    $(function () {
        $("#askQuestion").click(askQuestion);
    })

    function askQuestion() {
        location.href = "http://localhost:47298/U8Question/AddNewQuestion";
    }
</script>

