@model IEnumerable<Entity.U8NoticeLog>
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Entity.U8NoticeLog> listNoticeLog = Model as List<Entity.U8NoticeLog>;
    string noticeLi = "";
}
<img src="@Url.Content("~/image/notice.gif")" />通知

<ul>
    @{
        foreach (Entity.U8NoticeLog noticeLog in listNoticeLog)
        {
            if (noticeLog.NoticeCategory == "知识问答")
            {
                if (noticeLog.IsAskQuestion)
                {
                    noticeLi += "<li>" + noticeLog.Sender + " " + "向您提问了问题： " + noticeLog.NoticeInfo+"  "+noticeLog.CreateTime + "</li>";
                }
                else
                {
                    noticeLi += "<li>" + noticeLog.Receiver + " " + "回答了你的问题： " + noticeLog.NoticeInfo+"  " + noticeLog.CreateTime +"</li>";
                }
            }
            else if (noticeLog.NoticeCategory == "系统通知")
            {
                noticeLi += "<li>"+noticeLog.Sender + " 发布系统通知： " + noticeLog.NoticeInfo +"  "+ noticeLog.CreateTime + "</li>" ;
            }
        }
    }
    @Html.Raw(noticeLi)
</ul>
