@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/U8lab.css" rel="stylesheet" />
<div class="mycenter">
    <div style="height:30px;line-height:30px">
        <img src="@Url.Content("~/image/zhuanjia.gif")" alt="开发专家" />
        <span style="margin-left:5px">专家</span>
    </div>
    <img class="img-responsive" src="@Url.Content("~/image/zhuanjia.png")" style="width:100%;"/>
</div>







