@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/U8lab.css" rel="stylesheet" />
<div class="mycenter">
    <img src="@Url.Content("~/image/zhuanjia.gif")" alt="开发专家" />
    <span>专家</span>
    <img class="img-responsive" src="@Url.Content("~/image/zhuanjia.png")" />
</div>







