@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/U8lab.css" rel="stylesheet" />
<div class="mycenter">
    <img src="@Url.Content("~/image/atv.png")" alt="知识库" />
    <span>知识库</span>
    <div class="question-nav">
        <a class="btn btn-default" href="#"  role="button">我的问题</a>
        <a class="btn btn-default" href="#"  role="button">知识库</a>
        <a class="btn btn-default" href="#"  role="button">需我回答的问题</a>
        <a class="btn btn-default" href="#"  role="button">所有问题</a>
     </div>
    <div class="question-nav-son">
        <a class="" href="#" role="button">最新知识</a>
        <span>&nbsp;|&nbsp;</span>
        <a class="" href="#" role="button">最热门知识</a>

        <a class="btn btn-default" href="#" role="button">+ <span>我要提问</span></a>
    </div>
</div>

